Registry Files/add_code context_menu.reg
Registry Files/add_git_context_menu.reg
Registry Files/add_Open_in_Windows_Terminal_expandable_context_menu.reg
Registry Files/remove_code context_menu.reg
Registry Files/remove_git_context_menu.reg
Registry Files/remove_Open_in_Windows_Terminal_expandable_context_menu.reg
